:root {
    --root-background: #e8e8e8;
    --background: #d3d3d3;
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    font-family: monospace;
    --color-positive: #33d17a;
    --color-negative: #e74c3c;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: var(--font-color);
}

/* 卷軸軌道樣式 */
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--font-color-sub);
}

/* 卷軸本體樣式 */
*::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    ;
    border-radius: 10%;
}

.h-100vh {
    height: 100vh !important;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--root-background);
}

.bg-color {
    background-color: var(--background);
}

.login-wrap {
    padding: 20px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 16px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    transition: all 250ms;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

.btn:hover {
    color: #e8e8e8;
}

.btn:hover::before {
    width: 100%;
}

.contain-wrap {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.contain-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-text {
    color: var(--font-color);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.title-text>span {
    color: var(--font-color-sub);
    font-weight: 600;
    font-size: 17px;
}

.flex-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 20px;
    box-sizing: border-box;
    align-items: stretch;
}

.pd-5 {
    padding: 5px;
}

.pd-20 {
    padding: 20px;
}

.flex-1 {
    flex: 1;
    overflow: hidden;
}

.flex-2 {
    flex: 2;
    overflow: hidden;
}

.flex-3 {
    flex: 3;
    overflow: hidden;
}

.card {
    background-color: var(--background);
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.card.item {
    background-color: var(--bg-color);
    padding: 0 20px;
    font-size: 20px;
    min-height: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-span {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    line-height: 2.5rem;
}

.pt-0 {
    padding-top: 0;
}

.h-auto {
    height: auto;
}

.pb-0 {
    padding-bottom: 0;
}

.flex-100 {
    flex: 0 0 100%;
}

.flex-start {
    align-items: flex-start;
}

.flex-column {
    flex-direction: column;
}

.gap-0 {
    gap: unset;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.m-0 {
    margin: 0;
}

.m-10 {
    margin: 10px;
}

.flex-row {
    flex-direction: row !important;
}

.overflow-y-auto {
    overflow-y: auto;
}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
        height: auto;
    }

    .flex-wrap {
        flex-direction: column;
    }

    .item-span>*:first-child {
        flex: 0 0 100%;
    }

    .item-span>* {
        flex: 1 1 0;
        min-width: 20px;
    }
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.text-right {
    text-align: right;
}

.table-content {
    width: 100%;
    overflow-y: auto;
    height: calc(100% - 1.2vw - 2vh);
    font-size: 20px;
    padding: 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
    border-collapse: collapse;
}

table>thead {
    background-color: var(--background);
    box-shadow: 0 2px 0 var(--font-color-sub);
    position: sticky;
    top: 0;
}

th,
td {
    padding: 10px 12px;
    text-align: left;
}

th {
    color: #a7b1c2;
    font-weight: 600;
}

th.amount,
td.amount {
    text-align: right;
}

th.profit,
td.profit {
    text-align: right;
    font-weight: bold;
}

td.profit.positive {
    color: var(--color-positive);
}

td.profit.negative {
    color: var(--color-negative);
}

.canvas-wrap {
    width: 100%;
    overflow: hidden;
    height: calc(100% - 1.2vw - 2vh);
}

canvas {
    width: 100% !important;
    height: 100% !important;
}